In [1]:
import mysql.connector as conn

In [2]:
conn.connect

In [3]:
mydb = conn.connect(host = 'localhost', user = 'root',passwd='mysql')

In [4]:
cursor = mydb.cursor()

In [5]:
cursor.execute('show databases')

In [6]:
cursor.fetchall()

[('cardataset',),
 ('cardataset1',),
 ('company',),
 ('employee',),
 ('ineuron',),
 ('ineuron1',),
 ('ineuron2',),
 ('ineuron_test',),
 ('information_schema',),
 ('mysql',),
 ('new_schema',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test11',),
 ('testsari',),
 ('testsari1',),
 ('testsari2',),
 ('wordslist',),
 ('workers',),
 ('world',)]

In [7]:
cursor.execute('DROP EMPLOYEE')

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'EMPLOYEE' at line 1