In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("ineuron.db")

In [14]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 6A64-9A68

 Directory of C:\Users\SAMARTH\Desktop\phd\ineuron\live class

20-02-2022  10:39    <DIR>          .
19-02-2022  10:24    <DIR>          ..
20-02-2022  10:32    <DIR>          .ipynb_checkpoints
23-01-2022  12:28    <DIR>          __pycache__
19-12-2021  12:47            10,318 19dec_forloop.ipynb
21-12-2021  21:46            12,839 21dec_dic.ipynb
22-01-2022  12:04             4,011 22jan2022_modules.ipynb
23-01-2022  12:49             6,246 23jan_2022.ipynb
23-12-2021  21:48            34,327 23rddec2021.ipynb
08-01-2022  11:36             7,427 8th_functionsjan2022.ipynb
09-01-2022  13:02            58,801 9thjan2022.ipynb
06-01-2022  14:04           132,119 Assignment_functions.ipynb
12-02-2022  20:33               588 Assignment21.ipynb
16-01-2022  11:47            15,637 Exception handling.ipynb
01-02-2022  04:50                 0 filet.log
20-12-2021  21:54            13,633 for&while loop_20thdec.ipynb
06-02-2022  19:19            11,903 glass.txt
20-02-2022  10:37             8,192 ineuron.db
20-02-2022  10:39                 0 ineuron.db-journal
16-01-2022  12:52            18,333 logging.ipynb
01-02-2022  05:38             1,113 loggingexm.ipynb
26-12-2021  22:52         4,617,744 MergedFile.pdf
22-01-2022  10:28                 0 modu.py
22-01-2022  11:40            20,174 module_22jan2022.ipynb
19-02-2022  11:50            40,325 mongodb_15feb_class1.ipynb
19-02-2022  11:30            26,721 mongodb_19feb2022_class2.ipynb
15-02-2022  13:02            28,757 mongodb_feb13.ipynb
22-01-2022  11:37               231 my_module.py
23-01-2022  12:27               579 mydict.py
17-02-2022  14:47           108,968 mysql_class1&2_5&6feb.ipynb
27-01-2022  13:03            13,850 oop_22&23_2022.ipynb
01-02-2022  05:38            31,379 oops_polymorishm.ipynb
22-01-2022  12:16             1,054 OOPsclass1_jan_22.ipynb
14-12-2021  20:11            25,836 resume.docx
09-02-2022  06:56            80,783 SQL_6thfeb2022.ipynb
20-02-2022  10:39             6,575 sqllite_20feb2022.ipynb
16-01-2022  12:38               497 test.log
22-01-2022  10:47               293 test.py
22-01-2022  10:35                36 test.py.bak
16-01-2022  10:56                22 test1.txt
16-01-2022  12:48               282 test2.log
22-01-2022  10:31                 0 test2.py
09-01-2022  12:02                37 test2.txt
16-01-2022  11:06                 0 test43
09-01-2022  11:58               130 text.txt
19-12-2021  17:27            16,232 tuples_18dec2021.ipynb
26-12-2021  07:19                72 Untitled.ipynb
26-12-2021  07:24             5,323 Untitled1.ipynb
26-12-2021  07:35             2,241 Untitled2.ipynb
26-12-2021  07:45             1,669 Untitled3.ipynb
26-12-2021  18:42             9,118 Untitled4.ipynb
26-12-2021  18:24             1,560 Untitled5.ipynb
30-12-2021  11:52             2,938 Untitled6.ipynb
30-12-2021  13:53             1,415 Untitled7.ipynb
04-01-2022  15:46             3,086 Untitled8.ipynb
08-02-2022  14:51               588 Untitled9.ipynb
              52 File(s)      5,384,002 bytes
               4 Dir(s)  27,889,975,296 bytes free

In [4]:
c =db.cursor()

In [5]:
c.execute('create table fsds(name text,batchid  int,marks real)')

In [23]:
c.execute("insert into fsds values('sudh',37766,5988.8)")

ProgrammingError: Cannot operate on a closed database.

In [31]:
c.execute("insert into fsds values('sudh',37766,5988.8)")
c.execute("insert into fsds values('sudh',37766,5988.8)")
c.execute("insert into fsds values('sudh',37766,5988.8)")
c.execute("insert into fsds values('sudh',37766,5988.8)")
c.execute("insert into fsds values('sudh',37766,5988.8)")
c.execute("insert into fsds values('sudh',37766,5988.8)")
c.execute("insert into fsds values('sudh',37766,5988.8)")
c.execute("insert into fsds values('sudh',37766,5988.8)")
c.execute("insert into fsds values('sudh',37766,5988.8)")
c.execute("insert into fsds values('sudh',37766,5988.8)")

In [19]:
data =c.execute("select *from fsds")

In [20]:
for i in data:
    print(i)

('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)

In [21]:
db.close()

In [27]:
db =sqlite3.connect("ineuron.db")

In [28]:
c =db.cursor()

In [34]:
data = c.execute("select *from fsds where marks > 400")

In [35]:
for i in data:
    print(i)

('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)
('sudh', 37766, 5988.8)

In [32]:
db.commit()

In [36]:
c.execute("select name, marks from fsds")

In [37]:
for i in data:
    print(i)

('sudh', 5988.8)
('sudh', 5988.8)
('sudh', 5988.8)
('sudh', 5988.8)
('sudh', 5988.8)
('sudh', 5988.8)
('sudh', 5988.8)
('sudh', 5988.8)
('sudh', 5988.8)
('sudh', 5988.8)

In [61]:
c.execute("create table person_table(name text, emailid text,age int,salary real)")

In [68]:
c.execute("insert into person_table values('saritha','saritha@gmail.com',28,99288)")
c.execute("insert into person_table values('samarth','samarth@gmail.com',10,95568)")
c.execute("insert into person_table values('shailesh','shailesh@gmail.com',28,9928882)")

In [64]:
data = c.execute("select *from person_table")

In [43]:
for i in data:
    print(i)

('sari', 'sjhj@gmail.com', 28, 99288.0)
('samarth', 'samarth@gmail.com', 10, 95568.0)
('shailesh', 'shailesh@gmail.com', 28, 9928882.0)

In [72]:
db.commit()

In [46]:
db.close()

In [48]:
db = sqlite3.connect('ineuron.db')

In [49]:
c = db.cursor()

In [53]:
c.execute("drop table fsds")

In [59]:
c.execute("select *from person")

OperationalError: no such table: person

In [55]:
db.close()

In [56]:
db = sqlite3.connect('person.db')

In [57]:
c = db.cursor()

In [69]:
data = c.execute("select *from person_table limit 2")

In [71]:
for i in data:
    print(i)

('sari', 'sjhj@gmail.com', 28, 99288.0)
('samarth', 'samarth@gmail.com', 10, 95568.0)

In [73]:
#join operation

In [74]:
db.close()

In [75]:
db =sqlite3.connect("joindb.db")

In [76]:
c = db.cursor()

In [77]:
c.execute("create table student(student_id int,student_name text, student_mailid text,marks int)")

In [80]:
c.execute("create table address(student_id , pincode int, location text, nearby text, phone_no int)")

In [81]:
c.execute("insert into student values(234, 'saritha', 'sari@gmail.com',234) ")

In [83]:
c.execute("insert into student values(234, 'saritha', 'sari@gmail.com',234) ")
c.execute("insert into student values(235, 'saritha', 'sari@gmail.com',234) ")
c.execute("insert into student values(236, 'saritha', 'sari@gmail.com',234) ")
c.execute("insert into student values(237, 'saritha', 'sari@gmail.com',234) ")
c.execute("insert into student values(238, 'saritha', 'sari@gmail.com',234) ")
c.execute("insert into student values(239, 'saritha', 'sari@gmail.com',234) ")
c.execute("insert into student values(240, 'saritha', 'sari@gmail.com',234) ")
c.execute("insert into student values(241, 'saritha', 'sari@gmail.com',234) ")

In [84]:
c.execute("insert into address values(235, 560034,'whitefield','ineuron office', 887277202)")

In [85]:
c.execute("insert into address values(235, 560034,'whitefield','ineuron office', 887277202)")
c.execute("insert into address values(236, 560034,'whitefield','ineuron office', 887277202)")
c.execute("insert into address values(237, 560034,'whitefield','ineuron office', 887277202)")
c.execute("insert into address values(238, 560034,'whitefield','ineuron office', 887277202)")
c.execute("insert into address values(238, 560034,'whitefield','ineuron office', 887277202)")
c.execute("insert into address values(239, 560034,'whitefield','ineuron office', 887277202)")
c.execute("insert into address values(240, 560034,'whitefield','ineuron office', 887277202)")
c.execute("insert into address values(241, 560034,'whitefield','ineuron office', 887277202)")

In [86]:
data = c.execute("select *from address")

In [87]:
for i in data:
    print(i)

(235, 560034, 'whitefield', 'ineuron office', 887277202)
(235, 560034, 'whitefield', 'ineuron office', 887277202)
(236, 560034, 'whitefield', 'ineuron office', 887277202)
(237, 560034, 'whitefield', 'ineuron office', 887277202)
(238, 560034, 'whitefield', 'ineuron office', 887277202)
(238, 560034, 'whitefield', 'ineuron office', 887277202)
(239, 560034, 'whitefield', 'ineuron office', 887277202)
(240, 560034, 'whitefield', 'ineuron office', 887277202)
(241, 560034, 'whitefield', 'ineuron office', 887277202)

In [89]:
for i in c.execute("select * from student"):
    print(i)

(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(235, 'saritha', 'sari@gmail.com', 234)
(236, 'saritha', 'sari@gmail.com', 234)
(237, 'saritha', 'sari@gmail.com', 234)
(238, 'saritha', 'sari@gmail.com', 234)
(239, 'saritha', 'sari@gmail.com', 234)
(240, 'saritha', 'sari@gmail.com', 234)
(241, 'saritha', 'sari@gmail.com', 234)

In [99]:
data = c.execute("select *from student s left join address a on s.student_id = a.student_id")

In [100]:
for i in data:
    print(i)

(234, 'saritha', 'sari@gmail.com', 234, None, None, None, None, None)
(234, 'saritha', 'sari@gmail.com', 234, None, None, None, None, None)
(234, 'saritha', 'sari@gmail.com', 234, None, None, None, None, None)
(234, 'saritha', 'sari@gmail.com', 234, None, None, None, None, None)
(234, 'saritha', 'sari@gmail.com', 234, None, None, None, None, None)
(234, 'saritha', 'sari@gmail.com', 234, None, None, None, None, None)
(234, 'saritha', 'sari@gmail.com', 234, None, None, None, None, None)
(234, 'saritha', 'sari@gmail.com', 234, None, None, None, None, None)
(234, 'saritha', 'sari@gmail.com', 234, None, None, None, None, None)
(234, 'saritha', 'sari@gmail.com', 234, None, None, None, None, None)
(235, 'saritha', 'sari@gmail.com', 234, 235, 560034, 'whitefield', 'ineuron office', 887277202)
(235, 'saritha', 'sari@gmail.com', 234, 235, 560034, 'whitefield', 'ineuron office', 887277202)
(236, 'saritha', 'sari@gmail.com', 234, 236, 560034, 'whitefield', 'ineuron office', 887277202)
(237, 'saritha', 'sari@gmail.com', 234, 237, 560034, 'whitefield', 'ineuron office', 887277202)
(238, 'saritha', 'sari@gmail.com', 234, 238, 560034, 'whitefield', 'ineuron office', 887277202)
(238, 'saritha', 'sari@gmail.com', 234, 238, 560034, 'whitefield', 'ineuron office', 887277202)
(239, 'saritha', 'sari@gmail.com', 234, 239, 560034, 'whitefield', 'ineuron office', 887277202)
(240, 'saritha', 'sari@gmail.com', 234, 240, 560034, 'whitefield', 'ineuron office', 887277202)
(241, 'saritha', 'sari@gmail.com', 234, 241, 560034, 'whitefield', 'ineuron office', 887277202)

In [101]:
for i in c.execute("select *from student"):
    print(i)

(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(235, 'saritha', 'sari@gmail.com', 234)
(236, 'saritha', 'sari@gmail.com', 234)
(237, 'saritha', 'sari@gmail.com', 234)
(238, 'saritha', 'sari@gmail.com', 234)
(239, 'saritha', 'sari@gmail.com', 234)
(240, 'saritha', 'sari@gmail.com', 234)
(241, 'saritha', 'sari@gmail.com', 234)

In [103]:
c.execute("delete from student where student_id>240")

In [106]:
for i in c.execute("select *from student"):
                  print(i)

(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(234, 'saritha', 'sari@gmail.com', 234)
(235, 'saritha', 'sari@gmail.com', 234)
(236, 'saritha', 'sari@gmail.com', 234)
(237, 'saritha', 'sari@gmail.com', 234)
(238, 'saritha', 'sari@gmail.com', 234)
(239, 'saritha', 'sari@gmail.com', 234)
(240, 'saritha', 'sari@gmail.com', 234)

In [107]:
data = c.execute('select *from student')

In [108]:
data.fetchall()

[(234, 'saritha', 'sari@gmail.com', 234),
 (234, 'saritha', 'sari@gmail.com', 234),
 (234, 'saritha', 'sari@gmail.com', 234),
 (234, 'saritha', 'sari@gmail.com', 234),
 (234, 'saritha', 'sari@gmail.com', 234),
 (234, 'saritha', 'sari@gmail.com', 234),
 (234, 'saritha', 'sari@gmail.com', 234),
 (234, 'saritha', 'sari@gmail.com', 234),
 (234, 'saritha', 'sari@gmail.com', 234),
 (234, 'saritha', 'sari@gmail.com', 234),
 (235, 'saritha', 'sari@gmail.com', 234),
 (236, 'saritha', 'sari@gmail.com', 234),
 (237, 'saritha', 'sari@gmail.com', 234),
 (238, 'saritha', 'sari@gmail.com', 234),
 (239, 'saritha', 'sari@gmail.com', 234),
 (240, 'saritha', 'sari@gmail.com', 234)]

In [109]:
c.execute("update student set student_id= 1000 where student_id=236")

In [113]:
data = c.execute('select *from student')

In [114]:
data.fetchall()

[(234, 'samarth', 'sari@gmail.com', 234),
 (234, 'samarth', 'sari@gmail.com', 234),
 (234, 'samarth', 'sari@gmail.com', 234),
 (234, 'samarth', 'sari@gmail.com', 234),
 (234, 'samarth', 'sari@gmail.com', 234),
 (234, 'samarth', 'sari@gmail.com', 234),
 (234, 'samarth', 'sari@gmail.com', 234),
 (234, 'samarth', 'sari@gmail.com', 234),
 (234, 'samarth', 'sari@gmail.com', 234),
 (234, 'samarth', 'sari@gmail.com', 234),
 (235, 'samarth', 'sari@gmail.com', 234),
 (1000, 'samarth', 'sari@gmail.com', 234),
 (237, 'samarth', 'sari@gmail.com', 234),
 (238, 'samarth', 'sari@gmail.com', 234),
 (239, 'samarth', 'sari@gmail.com', 234),
 (240, 'samarth', 'sari@gmail.com', 234)]

In [112]:
c.execute("update student set student_name= 'samarth' where student_name= 'saritha'")

In [115]:
db.commit()

In [116]:
db.close()